.full-height {
  height: 100%;
}

.job-form-container {
  padding: 0px 20px;
}

form.job-form {
  padding: 15px;
}

form.job-form fieldset legend {
  margin-bottom: 0px;
}

h2 {
  padding-bottom: 5px;
  padding-left: 35px;
  font-size: 2.5em;
  font-weight: bold;
  text-transform: capitalize;
  margin-top: 10px;
}

.right-panel-border {
  background-color: white;
  border: solid 1px #aaaaaa;
  box-shadow: #eeeeee 5px 5px 2px;
  border-radius: 5px;
  margin: 20px 0px;
  height: 100%;
}

.workflow-option {
  border: 1px solid #ced4da;
  border-radius: 5px;
  margin: 5px 0;
  padding: 5px;
}

.workflow-option h2 {
  font-size: 1em;
  padding: 0;
  margin: 5px 0;
}

.workflow-option:hover {
  background-color: lightyellow;
}
