<div class="new-job-panel right-panel-border">
  <h2>New Job</h2>
  <div class="job-form-container">
    <form class="job-form" [formGroup]="jobForm" novalidate>
      <fieldset class="workflow-input">
        <div class="form-group">
          <label>Job Name:</label>
          <input class="form-control" formControlName="name">
        </div>
        <div class="form-group">
          <label>Workflow:</label>
          <select class="form-control" formControlName="workflow_index">
            <option value="" disabled selected>Select your option</option>
            <option *ngFor="let workflow of workflows; let i = index" [value]="i">
              {{workflow.name}} ({{workflow.description}})
            </option>
          </select>
        </div>
        <button class="btn btn-primary" (click)="processWorkflow()">Next step</button>
      </fieldset>

      <fieldset class="workflow-input" *ngIf="activeWorkflow">
        <div *ngFor="let input of activeWorkflow.inputs" class="form-group">
          <label>{{input.name}}</label>
          <ng-container [ngSwitch]="input.type">
            <input *ngSwitchCase="'file'" type="file" class="form-control" name="{{input.id}}" formControlName="{{input.id}}">
            <div *ngSwitchCase="'boolean'">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="1" formControlName="{{input.id}}" [checked]="input.default != 'false'">
                <label class="form-check-label">Yes</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="" formControlName="{{input.id}}" [checked]="input.default == 'false'">
                <label class="form-check-label">No</label>
              </div>
            </div>
            <input *ngSwitchDefault type="text" class="form-control" name="{{input.id}}" value="{{input.default}}" formControlName="{{input.id}}">
          </ng-container>
          <small *ngIf="input.description" class="form-text text-muted">{{input.description}}</small>
        </div>
        <button class="btn btn-primary" (click)="submit()">Submit</button>
      </fieldset>
    </form>
  </div>
</div>
