<div class="new-job-panel right-panel-border">
  <h2>New Job</h2>
  <div class="job-form-container">
    <form class="job-form" [formGroup]="jobForm" novalidate>
      <fieldset class="workflow-input" [hidden]="activeWorkflow">
        <div class="form-group">
          <label>Job Name:</label>
          <input class="form-control" formControlName="name">
        </div>
        <div class="form-group">
          <label>Workflow:</label>

<!--
          <select class="form-control" formControlName="workflow_index">
            <option value="" disabled selected>Select your option</option>
            <option *ngFor="let workflow of workflows; let i = index" [value]="i">
              {{workflow.name}} ({{workflow.description}})
            </option>
          </select>
          -->

          <div *ngFor="let workflow of workflows; let i = index" class="workflow-option">
            <h2><input type="radio" formControlName="workflow_index" [value]="i"> {{workflow.name}}</h2>
            <p *ngIf="workflow.description">{{workflow.description}}</p>
          </div>

        </div>
        <button class="btn btn-primary" (click)="processWorkflow()">Next</button>
      </fieldset>

      <fieldset class="workflow-input" *ngIf="activeWorkflow" [formGroup]="inputControls">
        <div *ngFor="let input of inputElements" class="form-group">
          <label>{{input.name}}</label>
          <ng-container [ngSwitch]="input.type">
            <input *ngSwitchCase="'file'" type="file" class="form-control" formControlName="{{input.id}}" name="{{input.id}}" #fileInput>
            <div *ngSwitchCase="'boolean'">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="true" formControlName="{{input.id}}">
                <label class="form-check-label">Yes</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" value="false" formControlName="{{input.id}}">
                <label class="form-check-label">No</label>
              </div>
            </div>
            <div *ngSwitchCase="'enum'">
              <select class="custom-select" formControlName="{{input.id}}">
                <option *ngFor="let symbol of input.symbols" value="{{symbol}}">{{symbol}}</option>
              </select>
            </div>
            <input *ngSwitchDefault type="text" class="form-control" formControlName="{{input.id}}">
          </ng-container>
          <small *ngIf="input.description" class="form-text text-muted">{{input.description}}</small>
        </div>
        <button class="btn btn-primary" (click)="resetWorkflow()">Back</button>
        <button class="btn btn-primary" (click)="submit()">Submit</button>
      </fieldset>
    </form>
  </div>
</div>
